{% extends "dummydata/base.html" %}
{% load url from future %}

{% block title %}Delete Connections{% endblock title %}

{% block sub-content %}
    <form class="form-horizontal" action='#' method='POST'>
        <legend>Delete Connections</legend>
        <div class="alert alert-block">
            <h4>Warning!</h4>
            This form will remove all connections with the specified backend.
        </div>
        {% include "dummydata/includes/_form.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Delete</button>
            </div>
        </div>
    </form>
{% endblock sub-content %}
